.proj-name {
  transform: rotate(26.25deg);
  font-size: 3em;
  font-weight: 600;
  fill: var(--primary-text);
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
  transition: filter 0.25s ease-in-out;
  filter: opacity(0%);
}

.proj-tech {
  transform: rotate(-26.25deg);
  font-size: 3em;
  font-weight: 400;
  fill: var(--secondary-text);
  text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
  transition: filter 0.25s ease-in-out;
  filter: opacity(0%);
}

.text-background {
  transition: filter 0.25s ease-in-out;
  filter: opacity(0%);
}

.hexagon {
  display: block;
  width: clamp(188px, calc(((100% - 6px) / 3) * 2), 227px);
  height: auto;
  pointer-events: none;
  transition: transform 0.25s ease, filter 0.25s ease;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: -13%;
}

.hexagon:nth-child(2n) {
  margin-left: clamp(100px, calc(((100% - 6px) / 3) + 6px), 119.5px);
  margin-right: 0;
}

.hexagon:last-child {
  margin-bottom: 0;
}

.hexagon a {
  pointer-events: fill;
}

.hexagon image {
  transition: filter 0.25s ease;
  backface-visibility: hidden;
}

.faded {
  filter: grayscale(100%) blur(1px) contrast(65%) brightness(120%);
}

.scaled {
  transform: scale(1.07);
}

.dissolve {
  filter: opacity(100%);
}

.text-background.dissolve {
  filter: opacity(70%);
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #work--container {
    max-width: 466px;
  }
  .hexagon {
    margin: 0;
    display: inline-block;
  }
  .hexagon:nth-child(3n + 1) {
    margin: 0 119.5px -48px;
  }
  .hexagon:nth-child(-3n + 5) {
    margin: 0 0 -48px;
  }
  .hexagon:nth-child(-3n + 6) {
    margin: 0 0 -48px 12px;
  }
  .hexagon:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1201px) {
  #work--container {
    max-width: 705px;
  }
  .hexagon {
    display: inline-block;
    margin: 0;
  }
  .hexagon:nth-child(5n + 1) {
    margin: 0 0 -48px 119.5px;
  }
  .hexagon:nth-child(3) {
    margin: 0 0 -48px;
  }
  .hexagon:nth-child(5n + 2),
  .hexagon:nth-child(4),
  .hexagon:nth-child(5) {
    margin: 0 0 -48px 12px;
  }
  .hexagon:nth-child(6),
  .hexagon:last-child {
    margin-bottom: 0;
  }
}
